{
    "plugins": [
      ["prismjs", {
          "languages": ["py", "splunk-spl", "ini"],
          "plugins": ["line-numbers"],
          "theme": "okaidia",
          "css": true
      }]
    ]
  }